{% extends "cats/base.html" %}

{% block nav %}
  <li class="active"><a href="{% url 'cats:index' %}">Cats</a></li>
  <li><a href="{% url 'cats:new' %}">New cat</a></li>
{% endblock nav %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <h3>Cats</h3>
            {% if cat_list %}
                {% for cat in cat_list %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div>Name: {{cat.name}}</div>
                            <div>Year of Birth: {{cat.year_of_birth}}</div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock main %}